.card {
  width: $card-width;
  display: flex;
  flex-direction: column;
  border: 1px solid $card-border;
  box-sizing: border-box;
  border-radius: 5px;
}

.card__image {
  background-image: url('../images/imac.jpeg');
  width: 160px;
  height: 134px;
  background-position: center;
  background-size: 160px 134px;
  background-repeat: no-repeat;
  margin: 32px 19px 40px;
}

.card__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  margin: 0 16px 4px;
  color: $Main-accent;
}

.card__code {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: $text-muted;
  margin: 0 16px 16px;
}

.card__price {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin: 0 16px 16px;

  &-label {
    font-weight: 400;
    font-size: 12px;
    color: $text-muted;
  }
  &-value {
    font-weight: 700;
    font-size: 16px;
    color: $Main-accent;
  }
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $accent;
  border-radius: 5px;
  background-color: $accent;
  margin: 0 16px 16px;
}

.card__button:hover {
  background-color: $white;
  color: $accent;
}

.card__stars {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 24px;
  height: 16px;
}

.card__reviews {
  font-weight: 400;
  align-self: flex-end;
  font-size: 10px;
  line-height: 14px;
  margin: 0;
  letter-spacing: 0;
  color: $Main-accent;
}
